* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  min-height: 100vh;
  background-color: #f4f4f4;
  text-align: center;
  gap: 20px;
}

.head {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
  color: #333;
}

h2 {
  font-size: 1.2rem;
  margin: 10px 0;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

.colorGame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.box-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  background-color: black;
  width: 410px;
  height: 410px;
  position: relative;
  border: 8px solid black;
  border-radius: 50%;
  padding: 10px;
}

.bx {
  width: 180px;
  height: 180px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#red {
  background-color: #d55075;
  border-top-left-radius: 100%;
}

#green {
  background-color: #58a0b9;
  border-top-right-radius: 100%;
}

#yellow {
  background-color: #fa903b;
  border-bottom-left-radius: 100%;
}

#blue {
  background-color: #7794f8;
  border-bottom-right-radius: 100%;
}

.flash {
  background-color: white !important;
}

.userFlash {
  background-color: rgba(43, 212, 43, 0.58) !important;
}

#start-bx {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#start-bx:hover {
  background-color: #222;
}

@media (max-width: 768px) {
  h1 {
      font-size: 1.5rem;
  }
  h2 {
      font-size: 1rem;
  }
  h4 {
      font-size: 0.9rem;
  }
  .box-1 {
      width: 300px;
      height: 300px;
      gap: 5px
  }
  .bx {
      width: 130px;
      height: 130px;
  }
  #start-bx {
      width: 90px;
      height: 90px;
      font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 1.2rem;
  }
  h2 {
      font-size: 0.9rem;
  }
  h4 {
      font-size: 0.8rem;
  }
  .box-1 {
      width: 210px;
      height: 210px;
      gap: 5px;
  }
  .bx {
      width: 85px;
      height: 85px;
  }
  #start-bx {
      width: 50px;
      height: 50px;
      font-size: 0.7rem;
  }
}
