*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.head{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
h1,h2,h4{
  font-size: 2em;
}
.box-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 41vw;
  height: auto;
  margin-top: 2vw;
  padding: 0;
  border: 10px solid black;
  border-radius: 50%;
}
.bx{
  width: 20vw;
  height: 20vw;
}
#start-bx{
  display: flex;
  position: absolute;
  top: 45%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  background-color: black;
  cursor: pointer;
}
#red{
  border-top-left-radius: 100%;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}
#green{
  border-top-right-radius: 100%;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
}
#yellow{
  border-bottom-left-radius: 100%;
  border-top: 5px solid black;
  border-right: 5px solid black;
}
#blue{
  border-bottom-right-radius: 100%;
  border-top: 5px solid black;
  border-left: 5px solid black;
}
.red{
  background-color: #d55075;
}
.green{
  background-color: #58a0b9;
}
.yellow{
  background-color: #fa903b;
}
.blue{
  background-color: #7794f8;
}
.flash{
  background-color: white;
}
.userFlash{
  background-color: rgba(43, 212, 43, 0.58);
}

@media (min-width:392px) and (max-width: 900px) {
  h1,h2,h4{
    font-size: 10px;
    margin-top: 4vw;
  }
  .box-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 79vw;
    height: auto;
    margin-top: 50vw;
    border: 10px solid black;
    border-radius: 50%;
  }
  .bx{
    width: 38vw;
    height: 38vw;
  }
  #start-bx{
    display: flex;
    position: absolute;
    top: 42%;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    background-color: black;
    cursor: pointer;
  }
}
